<div *ngIf="hero">

  <h2>{{ hero.id ? "Édition du" : "Création d'un"}} héro {{ hero.id ? (hero.name | uppercase) : ''}}</h2>

  <div class="card">
    <div class="card-body">

      <h5 class="card-title">
        <label for="name">Nom :</label> <input class="form-control" id="name" [(ngModel)]="hero.name" placeholder="Nom"/>
      </h5>

      <p class="card-text">
        <label for="attack">Attaque :</label> <input class="form-control" id="attack" type="number" min="1" max="36" [(ngModel)]="hero.attack" placeholder="Points d'attaque"/>
        <label for="dodge">Esquive :</label> <input class="form-control" id="dodge" type="number" min="1" max="36" [(ngModel)]="hero.dodge" placeholder="Points d'esquive"/>
        <label for="damage">Dégâts :</label> <input class="form-control" id="damage" type="number" min="1" max="36" [(ngModel)]="hero.damage" placeholder="Points de dommage"/>
        <label for="health">Points de vie :</label> <input class="form-control" id="health" type="number" min="1" max="36" [(ngModel)]="hero.health" placeholder="Points de vie"/>
      </p>

      <p class="alert-info p-2">Nombre de points total à attribuer : <b><span innerHTML="{{ getPointsRestantsHTML() }}"></span> / 40</b></p>

      <p *ngIf="info" class="alert-warning p-2">
        <strong>{{ info }}</strong>
      </p>

      <button (click)="save()" class="btn btn-success btn-sm mr-2">Sauvegarder</button>
      <button (click)="goBack()" class="btn btn-info btn-sm">Revenir sur la liste</button>

    </div>
  </div>

</div>
