<div *ngIf="weapon">

  <h2>Détails de {{weapon.name | uppercase}}</h2>

  <div>
    <span>ID:</span> {{weapon.id}}
  </div><br/>

  <div>
    <label for="name">Nom :</label> <input id="name" [(ngModel)]="weapon.name" placeholder="Nom"/><br/><br/>
    <label for="attack">Attaque :</label> <input id="attack" type="number" min="-5" max="5" [(ngModel)]="weapon.attack" placeholder="Bonus d'attaque"/>
    <label for="dodge">Esquive :</label> <input id="dodge" type="number" min="-5" max="5" [(ngModel)]="weapon.dodge" placeholder="Bonus d'esquive"/>
    <label for="damage">Dégâts :</label> <input id="damage" type="number" min="-5" max="5" [(ngModel)]="weapon.damage" placeholder="Bonus de dommage"/>
    <label for="health">Points de vie :</label> <input id="health" type="number" min="-5" max="5" [(ngModel)]="weapon.health" placeholder="Bonus de vie"/>
  </div><br/>

  <div>Points restants à attribuer : <b>{{ weapon.attack + weapon.health + weapon.dodge + weapon.damage }} </b></div><br/>

  <button (click)="goBack()">Revenir à l'accueil</button>

</div>
