<div *ngIf="weapon">

  <h2>{{ weapon.id ? "Édition de l'" : "Création d'une " }}arme {{weapon.name | uppercase}}</h2>

  <div class="card">
    <div class="card-body">

      <p class="card-text">
        <label for="name">Nom :</label> <input class="form-control" id="name" [(ngModel)]="weapon.name" placeholder="Nom"/>
        <label for="attack">Attaque :</label> <input class="form-control" id="attack" type="number" min="-5" max="5" [(ngModel)]="weapon.attack" placeholder="Bonus d'attaque"/>
        <label for="dodge">Esquive :</label> <input class="form-control" id="dodge" type="number" min="-5" max="5" [(ngModel)]="weapon.dodge" placeholder="Bonus d'esquive"/>
        <label for="damage">Dégâts :</label> <input class="form-control" id="damage" type="number" min="-5" max="5" [(ngModel)]="weapon.damage" placeholder="Bonus de dommage"/>
        <label for="health">Points de vie :</label> <input class="form-control" id="health" type="number" min="-5" max="5" [(ngModel)]="weapon.health" placeholder="Bonus de vie"/>
      </p>

      <p class="alert-info p-2">Nombre de points total à attribuer : <b><span innerHTML="{{ getPointsRestantsHTML() }}"></span> / 40</b></p>

      <p *ngIf="info" class="alert-warning p-2">
        <strong>{{ info }}</strong>
      </p>

      <button (click)="save()" class="btn btn-success btn-sm mr-2">Sauvegarder</button>
      <button (click)="goBack()" class="btn btn-info btn-sm">Revenir sur la liste</button>

    </div>
  </div>

</div>
